---
import { getEntryBySlug } from 'astro:content';
import Header from '../../components/Header.astro';
import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';

const { slug } = Astro.params;
const post = await getEntryBySlug('posts', slug);
---

<html>
  <head>
    <title>{post.data.title}</title>
  </head>
  <body>
    <Header />
    <Navigation />
    <article>
      <h1>{post.data.title}</h1>
      <p>Tags: {post.data.tags.join(', ')}</p>
      {post.body}
    </article>
    <Footer />
  </body>
</html>