<div class = "container min-w-64 w-3/5 mb-12 border-2 border-dark-blue bg-[#FDF9FF] shadow-[rgba(22,33,92,0.75)_8px_8px_0px_0px]">
    <header class="border-b-2 border-dark-blue">
    <div class=" bg-[#FFEFFF] flex justify-between">
        <h2 class = "text-responsive-xl font-semi-bold italic pl-2 px-1 truncate-text"><slot name = "headercontent"></slot></h2>
        <h2 class = "text-responsive-xl font-semi-bold italic pr-2 px-1"><slot name = "headerdate"></slot></h2>
    </div>
    </header>
    <div class= "p-4">
        <slot name = "content"></slot>
    </div>