		<nav>
			<ul class = "p-4 pb-8 flex justify-center space-x-4 text-xl">
				<li><a class = "hover:underline" href="#">about</a></li>
				<li><a class = "hover:underline" href="#">blog</a></li>
				<li><a class = "hover:underline" href="#">links</a></li>
				<li><a class = "hover:underline" href="#">contact</a></li>
				<li><a class = "hover:underline" href="#">tags</a></li>
			</ul>
		</nav>