		<nav>
			<ul class = "p-4 pb-8 flex justify-center space-x-4 text-xl">
				<li><a class = "hover:underline hover:text-[#343e76] focus:text-[#343e76]" href="#">about</a></li>
				<li><a class = "hover:underline hover:text-[#343e76] focus:text-[#343e76]" href="#">blog</a></li>
				<li><a class = "hover:underline hover:text-[#343e76] focus:text-[#343e76]" href="#">links</a></li>
				<li><a class = "hover:underline hover:text-[#343e76] focus:text-[#343e76]" href="#">contact</a></li>
				<li><a class = "hover:underline hover:text-[#343e76] focus:text-[#343e76]" href="#">tags</a></li>
			</ul>
		</nav>